In [91]:
import pandas as pd
dict = {'Numbers1':[10, 53, None, 22],
        'Numbers2': [5, None, 76, 42],
        'Numbers3':[12, 40, 80, 98],
        'Numbers4':[None, None, 80, 98]}
df = pd.DataFrame(dict)
print(df)
print("\n", df.isna())
print("\n", df.notna())
print("\n", df.isna().sum())

   Numbers1  Numbers2  Numbers3  Numbers4
0      10.0       5.0        12       NaN
1      53.0       NaN        40       NaN
2       NaN      76.0        80      80.0
3      22.0      42.0        98      98.0

    Numbers1  Numbers2  Numbers3  Numbers4
0     False     False     False      True
1     False      True     False      True
2      True     False     False     False
3     False     False     False     False

    Numbers1  Numbers2  Numbers3  Numbers4
0      True      True      True     False
1      True     False      True     False
2     False      True      True      True
3      True      True      True      True

 Numbers1    1
Numbers2    1
Numbers3    0
Numbers4    2
dtype: int64

In [84]:
df = pd.DataFrame(dict)
print(df)
new_df = df.dropna()
print("\n", new_df)
df.dropna(axis = 1, inplace = True)
print("\n", df)

   Numbers1  Numbers2  Numbers3  Numbers4
0      10.0       5.0        12       NaN
1      53.0       NaN        40       NaN
2       NaN      76.0        80      80.0
3      22.0      42.0        98      98.0

    Numbers1  Numbers2  Numbers3  Numbers4
3      22.0      42.0        98      98.0

    Numbers3
0        12
1        40
2        80
3        98

In [85]:
df = pd.DataFrame(dict)
df = df.fillna(100)
print(df)

df = pd.DataFrame(dict)
df['Numbers4'].fillna(120, inplace = True)
print("\n", df)

df = pd.DataFrame(dict)
m = df['Numbers4'].mean()
df['Numbers4'].fillna(m, inplace = True)
print("\n", df)

   Numbers1  Numbers2  Numbers3  Numbers4
0      10.0       5.0        12     100.0
1      53.0     100.0        40     100.0
2     100.0      76.0        80      80.0
3      22.0      42.0        98      98.0

    Numbers1  Numbers2  Numbers3  Numbers4
0      10.0       5.0        12     120.0
1      53.0       NaN        40     120.0
2       NaN      76.0        80      80.0
3      22.0      42.0        98      98.0

    Numbers1  Numbers2  Numbers3  Numbers4
0      10.0       5.0        12      89.0
1      53.0       NaN        40      89.0
2       NaN      76.0        80      80.0
3      22.0      42.0        98      98.0

In [89]:
dict2 = {'Numbers1':[10, 53, 53, 22],
        'Numbers2': [5, 76, 76, 42],
        'Numbers3':[12, 23, 23, 98],
        'Numbers4':[43, 80, 80, 98]}
df = pd.DataFrame(dict2)
print(df)
print("\n", df.duplicated())
df.drop_duplicates(inplace = True)
print("\n", df)

   Numbers1  Numbers2  Numbers3  Numbers4
0        10         5        12        43
1        53        76        23        80
2        53        76        23        80
3        22        42        98        98

 0    False
1    False
2     True
3    False
dtype: bool

    Numbers1  Numbers2  Numbers3  Numbers4
0        10         5        12        43
1        53        76        23        80
3        22        42        98        98

In [107]:
dict3 = {'Names1':['Hans', 'Bob', 'Jens'],
        'Names2': [None, '', 'Kurt'],
        'Names3':['', 'Henrik', None]}
df = pd.DataFrame(dict3)
print(df)
print("\n", df.isna())
new_df = df.fillna('Erik')
print("\n", new_df)
df = pd.DataFrame(dict3)
new_df = df.mask(df == '')
print("\n", new_df)
new_df = new_df.fillna('Erik')
print("\n", new_df)

  Names1 Names2  Names3
0   Hans   None
1    Bob         Henrik
2   Jens   Kurt    None

    Names1  Names2  Names3
0   False    True   False
1   False   False   False
2   False   False    True

   Names1 Names2  Names3
0   Hans   Erik
1    Bob         Henrik
2   Jens   Kurt    Erik

   Names1 Names2  Names3
0   Hans   None     NaN
1    Bob    NaN  Henrik
2   Jens   Kurt    None

   Names1 Names2  Names3
0   Hans   Erik    Erik
1    Bob   Erik  Henrik
2   Jens   Kurt    Erik