In [3]:
names = ['John', 'Hans', 'Jørgen', 'Henning', 'Jesper']
hNames = [h for h in names if h[0]=='H']
hNames

['Hans', 'Henning']

In [4]:
numbers = [n**3 for n in range(1, 100)]
numbers

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299]

In [8]:
namesLength = [tuple((len(l), l)) for l in names]
namesLength

[(4, 'John'), (4, 'Hans'), (6, 'Jørgen'), (7, 'Henning'), (6, 'Jesper')]

In [10]:
st = [c for c in 'nj234njfl23k25kk242' if c.isnumeric()]
st

['2', '3', '4', '2', '3', '2', '5', '2', '4', '2']

In [1]:
dice_rolls = set(([tuple((d,b)) for d in range(1,7) for b in range(1,7) if b>=d]))
dice_rolls

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 5),
 (5, 6),
 (6, 6)}

In [3]:
names = ['John', 'Hans', 'Jørgen', 'Henning', 'Jesper']
dct = {name:len(name) for name in names}
dct

{'John': 4, 'Hans': 4, 'Jørgen': 6, 'Henning': 7, 'Jesper': 6}

In [10]:
number = [5,6,7,8,9,10,11,12,13,14]
nd = {nu:nu**0.5 for nu in number}
nd

{5: 2.23606797749979,
 6: 2.449489742783178,
 7: 2.6457513110645907,
 8: 2.8284271247461903,
 9: 3.0,
 10: 3.1622776601683795,
 11: 3.3166247903554,
 12: 3.4641016151377544,
 13: 3.605551275463989,
 14: 3.7416573867739413}

In [52]:
dice_rolls = [d+b for d in range(1,7) for b in range(1,7)]
print('\n Rolls:',dice_rolls)
roll_count = {}
for roll in dice_rolls:
    roll_count.setdefault(roll, 0)
    roll_count[roll] += 1

print('\n Roll count:', roll_count)
total = 0
for val in roll_count.values():
    total+=val

roll_percentages = {k:v/total*100 for (k,v) in roll_count.items()}
print('\n Roll Percentages:')
roll_percentages

 Rolls: [2, 3, 4, 5, 6, 7, 3, 4, 5, 6, 7, 8, 4, 5, 6, 7, 8, 9, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 11, 7, 8, 9, 10, 11, 12]

 Roll count: {2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 5, 9: 4, 10: 3, 11: 2, 12: 1}

 Roll Percentages:

{2: 2.7777777777777777,
 3: 5.555555555555555,
 4: 8.333333333333332,
 5: 11.11111111111111,
 6: 13.88888888888889,
 7: 16.666666666666664,
 8: 13.88888888888889,
 9: 11.11111111111111,
 10: 8.333333333333332,
 11: 5.555555555555555,
 12: 2.7777777777777777}