In [15]:
import pandas as pd 
url = 'https://api.statbank.dk/v1/data/FOLK1A/CSV?delimiter=Semicolon&CIVILSTAND=F&Tid=2008K1%2C2020K1'
dst = pd.read_csv(url, sep=';')
dst.to_csv('divorced-danes.csv', encoding='utf-8', index=False)
dst[:5]

  CIVILSTAND     TID  INDHOLD
0   Fraskilt  2008K1   428864
1   Fraskilt  2020K1   544588

In [23]:
df = pd.read_csv('divorced-danes.csv')
print((df.iloc[1,2]-df.iloc[0,2])/df.iloc[0,2]*100, "%")

26.983845694672436 %

In [32]:
url = 'https://api.statbank.dk/v1/data/FOLK1A/CSV?delimiter=Semicolon&OMR%C3%85DE=101%2C147%2C155%2C185%2C165%2C151%2C153%2C157%2C159%2C161%2C163%2C167%2C169%2C183%2C173%2C175%2C187%2C201%2C240%2C210%2C250%2C190%2C270%2C260%2C217%2C219%2C223%2C230%2C411%2C253%2C259%2C350%2C265%2C269%2C320%2C376%2C316%2C326%2C360%2C370%2C306%2C329%2C330%2C340%2C336%2C390%2C420%2C430%2C440%2C482%2C410%2C480%2C450%2C461%2C479%2C760%2C665%2C756%2C661%2C657%2C751%2C706%2C746%2C740%2C741%2C730%2C727%2C707%2C615%2C766%2C710%2C580%2C630%2C575%2C573%2C550%2C540%2C621%2C510%2C607%2C563%2C561%2C530%2C492%2C779%2C671%2C791%2C810%2C813%2C860%2C849%2C825%2C846%2C773%2C840%2C787%2C820%2C851&Tid=2020K1&CIVILSTAND=*'
dst = pd.read_csv(url, sep=';')
dst.to_csv('biggest-cities.csv', encoding='utf-8', index=False)
dst.head()

      OMRÅDE     TID      CIVILSTAND  INDHOLD
0  København  2020K1           I alt   632340
1  København  2020K1           Ugift   412512
2  København  2020K1  Gift/separeret   150458
3  København  2020K1   Enke/enkemand    14630
4  København  2020K1        Fraskilt    54740

In [125]:
df = pd.read_csv('biggest-cities.csv')
mask = df['CIVILSTAND'] == 'I alt'
df_sorted = df.sort_values(by=['INDHOLD'], ascending=False)
ds = df_sorted[mask].iloc[0:5,0]
ds.index = [1,2,3,4,5]


def calculate_percentage(d):
    ds2 = df.loc[df['OMRÅDE']== ds[d]]
    percentage = ds2.iloc[1,3]/ds2.iloc[0,3]*100
    return percentage

percentage_by_city = dict([(ds[d],calculate_percentage(d)) for d in range(1,6)])

percentage_by_city

C:\Users\Søren Merved\AppData\Local\Temp\ipykernel_11668\4272896732.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ds = df_sorted[mask].iloc[0:5,0]

{'København': 65.23579087199924,
 'Aarhus': 59.576893734838556,
 'Aalborg': 54.448462512956354,
 'Odense': 54.90129090509773,
 'Vejle': 47.040121643570515}